.member{
    width: 420px;
    height: 556px;
    justify-content: center;
}
.photo-1{
    width: 310px;
    height: 310px;
    border-radius: 310px;
    border: 1px solid #F4F35A;
    background: url(../assets/ava.png) lightgray -76.801px -51.876px / 137.753% 206.604% no-repeat;
    background-position: center;
    background-size: cover;
    margin-left: 100px;
}

.photo-2{
    width: 310px;
    height: 310px;
    border-radius: 310px;
    border: 1px solid #F4F35A;
    background: url(../assets/liam.png) lightgray -76.801px -51.876px / 137.753% 206.604% no-repeat;
    background-position: center;
    background-size: cover;
    margin-left: 100px;
}

.photo-3{
    width: 310px;
    height: 310px;
    border-radius: 310px;
    border: 1px solid #F4F35A;
    background: url(../assets/maya.png) lightgray -76.801px -51.876px / 137.753% 206.604% no-repeat;
    background-position: center;
    background-size: cover;
    margin-left: 100px;
}

.member h5{
    font-family: "Instrument Serif", serif;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    color: #F4F35A;

    padding-top: 40px;
}

.member h3{
    font-style: italic;
    font-family: "Instrument Serif", serif;
    font-weight: 400;
    font-size: 32px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #F4F35A;

}

.member p{
    color: #F4F35A;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.text h5, h3, p{
    padding-left: 100px;
    justify-content: center;
}